* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #BACAD9;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card_background{
    width: 360px;
    height: 505.96px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-wrap: nowrap;
    position: relative;
}

#card_background h2{
    margin-top: 25px;
    margin-left: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 33px;
    color: black;
    text-transform: capitalize;
}

#card_background h4{8
    margin-top: 5px;
    margin-left: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #717171;
    text-transform: capitalize;
}

#card_background .circle{
    width: 60px;
    height: 60px;
    background-color: #FCFCFC;
    border-radius: 50%;
    position: absolute;
    margin: 25.95px 25px 420px 275px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card_background h3{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    color: black;
    margin: 433.45px 238.75px 42.5px 25px;
    position: absolute;
}

#card_background .chamfer{
    width: 54px;
    height: 54px;
    background-color: #000000;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 426.95px 25px 25px 281px;
    position: absolute;
}

.gradient_circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #00F5A0 0%, #00D9F5 100%);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}